/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Nunito:wght@400;600&display=swap');

/* Importation des modules */
@import 'style/modules/appar.css';

/* Définition des variables CSS */
:root {
    /* Couleurs */
    --rouge-principal: #CE0033;
    --noire: #030303;
    --blanc: #FAFAFA;

    /* Polices de texte */
    --police-body: 'Nunito Sans', sans-serif;
    --soulignement-texte: 'Nunito Sans', sans-serif;
    --police-header: 'Nunito Sans', sans-serif;
    --police-titre: 'Nunito Sans', sans-serif;

    /* Poids des polices */
    --body-font-weight: 400;
    --body-highlight-font-weight: 600;
    --header-font-weight: 400;
    --title-font-weight: 400;

    /* Tailles de police */
    --body-font-size: 1.25rem;
    --body-highlight-font-size: 1.25rem;
    --header-font-size: 4.5rem;
    --title-font-size: 1.5rem;

    /* Hauteur de ligne */
    --body-line-height: 1.5rem;
    --body-highlight-line-height: 1.5rem;
    --header-line-height: 5.375rem;
    --title-line-height: 1.75rem;
    --title-line-heights: 2rem;
}


/* Styles généraux du document HTML et du corps */


body {
    background-color: var(--blanc);
   
}

/* Styles de la barre de navigation */


.navbar {
    font-size: 12px;
    background-color: var(--blanc);
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar img.logo {
    max-height: 40px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color:var(--noire);
   font-size: 12px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--rouge-principal);
}

.navbar .contact {
    background-color:var(--rouge-principal);
    padding: 8px 20px;
    border-radius: 9px;
}

.navbar .contact a {
    color:var(--blanc);
   
}


/* Styles des boîtes blanches et rouges */
.box-content {
    margin-left: 00px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.box-blanc p {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.box-blanc {
    background-color: #FFFFFF;
    width: 450px;
    display: flex;
    justify-content: center;
    height: 400px;
    border-radius: 14px;
    top: 70;
    left: 0px;
    z-index: 100;
    position: relative;
}

.box-blanc p {
    font-size: var(--title-font-size);
    font-family: var(--police-body);
}

.box-rouge {
    background-color: var(--rouge-principal);
    width: 450px;
    height: 400px;
    transform: rotate(3.5deg);
    border-radius: 14px;
    position: relative;
    top: -13px;
    left: 435px;
}

/* Styles pour le contenu principal */
.contenaire {
    padding-top: 180px;
    margin-top: 30px;
    display: flex;
}

.texte-content {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 150px;
    padding-left: -15px;
    font-size: 20px;
    flex-shrink: 0;
    border-radius: 0px 0px 80px 0px;
    background-color: var(--rouge-principal);
    color: var(--blanc);
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: var(--header-font-size);
    color: var(--rouge-principal);
    font-family: var(--soulignement-texte);
}

header p {
    font-size: var(--title-line-heights);
    font-weight: var(--title-line-heights);
    font-family: var(--police-titre);
}

header {
    margin-bottom: 90px;
}

/* Styles pour la section "Pédagogie" */
.pedagogie {
    width: auto;
    height: 500px;
}

.pedagogie h1 {
    display: flex;
    justify-content: center;
    font-size: var(--title-line-heights);
    font-family: var(--police-body);
    color: var(--rouge-principal);
}

.ped {
    font-style: var(--rouge-principal);
}

/* Styles pour les vidéos et textes associés */
.div-container {
    display: flex;
}

.video {
    width: 335px;
    margin-left: 100px;
}

.texte {
    width: 550px;
    margin-left: 300px;
}

.texte h2 {
    color: var(--rouge-principal);
    font-size: var(--title-line-heights);
}

.texte p {
    font-size: var(--title-font-size);
    font-family: var(--police-body);
}

/* Styles pour les boîtes avec chiffres et lettres */
.pilier {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}

.container-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box {
    width: 300px;
    height: 180px;
    justify-content: center;
    border-bottom: solid var(--rouge-principal) 5px;
    margin: 5px 5px 5px 5px;
    padding: 3px 3px 3px 3px;
    box-shadow: 4px 4px 4px 4px rgba(62, 58, 58, 0.1);
}

.deux-contenue {
    width: px;
    margin-left: 40px;
    display: flex;
}

.box-rouge2 {
    margin-left: 20px;
    margin-top: 90px;
    width: 330px;
    height: 400px;
    border-radius: 11px;
    background-color: var(--rouge-principal);
    position: relative;
    top: -13px;
    left: -270px;
}

.image {
    width: 330px;
    height: 400px;
    margin-left: 20px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    top: 70;
    left: 50px;
    z-index: 100;
    position: relative;
    z-index: 100;
}

.image img {
    margin-left: -10px;
    border-radius: 15px;
}

.p6 {
    display: flex;
    color: var(--rouge-principal);
    margin-left: 100px;
    font-size: var(--title-line-height);
    font-family: var(--police-body);
}

.box h1 {
    font-size: large;
    font-family: var(--police-body);
    color: var(--rouge-principal);
}

.carre {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50%;
    position: absolute;
    background-color: var(--rouge-principal);
    border-radius: 20px;
    width: 100px;
    height: 10px;
}

/* Styles pour la section "Valeur" */
.veleur-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.div-un {
    margin-top: 30px;
    width: 600px;
    margin-left: 100px;
    padding-right: 20px;
}

.div-un button {
    margin-top: 50px;
    width: 137px;
    height: 41px;
    font-size: 18px;
    background-color: var(--rouge-principal);
    border-radius: 50px;
    border-color: #FAFAFA;
    color: var(--blanc);
}

.div-deux {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 10fr;
    width: 450px;
    margin-left: 80px;
}

.valeur {
    margin-top: 60px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.valeurs .h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-style: bold;
    color: var(--rouge-principal);
    font-family: Arial, Helvetica, sans-serif;
}

.valeurs h1 {
    font-size: 2.5rem;
    font-style: bold;
    color: var(--rouge-principal);
    font-family: 'Nunito Sans', sans-serif;
}

.valeurs p {
    font-variant-numeric: 5px;
    font-family: 'Nunito Sans', sans-serif;
}

.chiffre h2 {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F6D1DA;
    margin-right: 30px;
    margin-left: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.lettre {
    display: flex;
    width: 500px;
    padding: auto;
}

.Noschiffre {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--rouge-principal);
}

.Noschiffre h1 {
    color: var(--blanc);
    display: flex;
    font-style: var(--body-highlight-font-size);
    font-family: 'JetBrains Mono', monospace;
    font-size: 50px;
    justify-content: center;
}

.Noschiffre p {
    font-family:'JetBrains Mono', monospace;
    font-size: 1.2rem;
    color: var(--blanc);
}

#H1 {
    display: flex;
    font-size: 50px;
    color: var(--rouge-principal);
    justify-content: center;
}

/* Styles pour la section "Équipe" */
.equipe {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.card {
    border-radius: 10px;
    width: 250px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.1);
}

.card img {
    border-radius: 20%;
}

.card h3 {
    font-size: 20px;
    color: var(--rouge-principal);
}

.card p {
    margin-top: 30px;
    color: gray;
}

.social {
    margin-top: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

#P1 {
    display: flex;
    justify-content: space-aroun;
    font-size: 18px;
    font-family:'JetBrains Mono', monospace;
}

/* Styles pour la section "Recrutement" */
.recrutement {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 6fr 6fr;
}

.partie-1 img {
    background-color: #8e1919;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 700px;
}

.offre {
    display: flex;
}

form {
    display: grid;
    margin-right: 100px;
    grid-template-columns: 6fr;
}

.form1 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form2 {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
}

.form1 input {
    width: 250px;
    height: 80px;
    padding-left: 1;
    margin-right: 20px;
    border: solid gray 3px;
}

.form2 input {
    width: 250px;
    height: 80px;
    margin-right: 20px;
    border: solid gray 3px;
}

.iconify-icon {
    color: var(--rouge-principal);
    margin-left: 300px;
}

.partie-1 h1 {
    font-size: 30px;
    border-top: 3px solid var(--rouge-principal);
    border-bottom: 3px solid var(--rouge-principal);
    padding-top: 20px;
    padding-bottom: 20px;
}

.partie-1 h3 {
    display: flex;
    justify-content: right;
    font-size: 25px !important;
}

a {
    text-decoration: none;
    font-size: 25px !important;
}

.offre-info h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: var(--rouge-principal);
}

.offre-info p {
    font-size: 20px;
}

.offre-info h4 {
    color: var(--rouge-principal);
    font-size: 20px;
}

.partie-1 button {
    margin-top: 30px;
    margin-left: 50%;
    color: var(--blanc);
    font-size: 20px;
    background-color: var(--rouge-principal);
    border: 0.1px solid transparent;
    border-radius: 35px;
    width: 140px;
    height: 50px;
}

.offre-details {
    margin-top: 130px;
    margin-left: 60px;
}

.offre-details p {
    font-size: 20px;
}

.partie-2 h1 {
    margin-top: 50px;
    font-size: 30px;
    color: var(--rouge-principal);
}

.partie-2 {
    margin-left: 50px;
}

.fichier {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-bottom: 0px;
    color: var(--rouge-principal);
}

.partie-2 p {
    width: 500px;
    height: 500px;
    font-size: 18px;
}

.message textarea {
    width: 540px;
    height: 200px;
    margin-left: 20px;
    border: solid gray 3px;
    margin-top: 20px;
}

.accord {
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}

.btn {
    display: flex;
    margin-left: 20px;
}

.btn input {
    width: 200px;
    height: 50px;
    border: 0.1px solid transparent;
    border-radius: 35px;
    color: var(--blanc);
    font-size: 18px;
    background-color: var(--rouge-principal);
}

/* Styles pour la section "Partenaires" */
.partenaire {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.partenaires {
    margin-left: 80px;
    margin-right: 80px;
    display: grid;
}

.recrutement {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Styles pour le footer */
footer {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: var(--noire);
    color: var(--blanc);
    display: flex;
    justify-content: space-around;
}

.carte2 {
    display: grid;
}

.carte1 {
    display: grid;
}

.carte2 a {
    text-decoration: none;
    color: var(--blanc);
}

a:hover {
    color: var(--rouge-principal);
}

.social1 {
    display: flex;
    justify-content: space-around;
}

.carte3 p {
    font-size: 20px;
}

.carte4 p {
    font-size: 20px;
}

.Newsletter {
    margin-top: 30px;
    font-size: 20px;
}

.Newsletter .input {
    background-color: var(--blanc);
    border-radius: 15px 0px 0px 15px;
    margin-right: 0px;
    padding-right: 8px;
    width: 200px;
    height: 50px;
}

.Newsletter input {
    font-size: 18px;
    color: var(--blanc);
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px transparent;
    border-radius: 0px 15px 15px 0px;
    background-color: var(--rouge-principal);
    width: 100px;
    height: 50px;
}

.copy {
    padding-left: 20px;
    padding-right: 20px;
    color: var(--blanc);
    display: flex;
    justify-content: space-between;
    background-color: var(--rouge-principal);
}
